.Current {
	height: calc(100vh - 0%);
	/* padding: 5%; */
}

.Current>section {
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.last {
	height: calc(30vh - 30px) !important;
}

.current-location {
	font-size: 2.25em;
	padding-bottom: 2vh;
}

.current-date {
	font-size: 1.25em;
	font-weight: 100;
}

.current-message {
	font-size: 3em;
	font-weight: 700;
	padding-bottom: 2vh;
}

.current-wind-info {
	font-size: 1.375em;
	padding-bottom: 10vh;
}

.current-temp {
	font-size: 5em;
	font-weight: 500;
	margin-left: 14px;
	/*accounts for the degree symbol*/
}

.current-instruction {
	position: absolute;
	bottom: 2vh;
	width: 100%;
}

.scroll-icon {
	transform: rotate(90deg);
	font-size: 36px;
	cursor: pointer;
	display: inline-block;
}