.App {
	color: #ffffff;
	text-align: center;
	background: #16222A;
	background: -webkit-linear-gradient(to top, #3A6073, #16222A);
	background: linear-gradient(to top, #3A6073, #16222A);
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
}

h2 {
	margin: 0;
}